<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
        point="org.eclipse.ui.views">
        <view
            id="software.aws.toolkits.eclipse.amazonq.views.DependencyMissingView"
            name="Amazon Q Error"
            icon="icons/AmazonQ.png"
            class="software.aws.toolkits.eclipse.amazonq.views.DependencyMissingView">
        </view>
        <category
            name="Amazon Q"
            id="amazonq">
        </category>
        <view
            id="software.aws.toolkits.eclipse.amazonq.views.ToolkitLoginWebview"
            name="Amazon Q Login"
            icon="icons/AmazonQ.png"
            class="software.aws.toolkits.eclipse.amazonq.views.ToolkitLoginWebview"
            inject="true">
        </view>
        <view
            id="software.aws.toolkits.eclipse.amazonq.views.AmazonQChatWebview"
            name="Amazon Q Chat"
            icon="icons/AmazonQ.png"
            class="software.aws.toolkits.eclipse.amazonq.views.AmazonQChatWebview"
            category="amazonq"
            inject="true">
        </view>
        <view
              class="software.aws.toolkits.eclipse.amazonq.views.AmazonQCodeReferenceView"
              icon="icons/AmazonQ.png"
              id="software.aws.toolkits.eclipse.amazonq.views.AmazonQCodeReferenceView"
              name="Amazon Q Code Reference"
              restorable="true">
        </view>
    </extension>
    <extension point="org.eclipse.ui.activities">  
	  <activity id="software.aws.toolkits.eclipse.amazonq.activity.ToolkitLoginWebview" name="Amazon Q Login">
	  </activity>
	  <activity id="software.aws.toolkits.eclipse.amazonq.activity.AmazonQCodeReferenceView" name="Amazon Q Code Reference">
	  </activity>
	  <activity id="software.aws.toolkits.eclipse.amazonq.activity.DependencyMissingView" name="Amazon Q Dependency Missing">
	  </activity>
	  <activityPatternBinding
	     activityId="software.aws.toolkits.eclipse.amazonq.activity.ToolkitLoginWebview"
	     isEqualityPattern="true"
	     pattern="amazon-q-eclipse/software.aws.toolkits.eclipse.amazonq.views.ToolkitLoginWebview">
	  </activityPatternBinding>
	  <activityPatternBinding
	     activityId="software.aws.toolkits.eclipse.amazonq.activity.AmazonQCodeReferenceView"
	     isEqualityPattern="true"
	     pattern="amazon-q-eclipse/software.aws.toolkits.eclipse.amazonq.views.AmazonQCodeReferenceView">
	  </activityPatternBinding>
	  <activityPatternBinding
	     activityId="software.aws.toolkits.eclipse.amazonq.activity.DependencyMissingView"
	     isEqualityPattern="true"
	     pattern="amazon-q-eclipse/software.aws.toolkits.eclipse.amazonq.views.DependencyMissingView">
	  </activityPatternBinding>
	 </extension>
    <extension
        point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension
            targetID="*">
            <view
                id="software.aws.toolkits.eclipse.amazonq.views.AmazonQChatWebview"
                relative="org.eclipse.ui.editorss"
                relationship="right"
                visible="false">
            </view>
            <view
                id="software.aws.toolkits.eclipse.amazonq.views.ToolkitLoginWebview"
                relative="software.aws.toolkits.eclipse.amazonq.views.AmazonQChatWebview"
                relationship="stack"
                visible="false">
            </view>
            <view
                id="software.aws.toolkits.eclipse.amazonq.views.AmazonQCodeReferenceView"
                relative="software.aws.toolkits.eclipse.amazonq.views.AmazonQChatWebview"
                relationship="stack"
                visible="false">
            </view>
        </perspectiveExtension>
    </extension>
    <extension
        point="org.eclipse.lsp4e.languageServer">
        <server
            class="software.aws.toolkits.eclipse.amazonq.lsp.connection.QLspConnectionProvider"
            clientImpl="software.aws.toolkits.eclipse.amazonq.lsp.AmazonQLspClientImpl"
            id="software.aws.toolkits.eclipse.amazonq.qlanguageserver"
            label="Amazon Q Language Server"
            launcherBuilder="software.aws.toolkits.eclipse.amazonq.lsp.AmazonQLspServerBuilder"
            singleton="true">
        </server>
        <server
            class="software.aws.toolkits.eclipse.amazonq.lsp.connection.AuthLspConnectionProvider"
            clientImpl="software.aws.toolkits.eclipse.amazonq.lsp.AuthLspClientImpl"
            id="software.aws.toolkits.eclipse.amazonq.authServer"
            label="Auth LSP Server"
            launcherBuilder="software.aws.toolkits.eclipse.amazonq.lsp.AuthLspServerBuilder"
            singleton="true">
        </server>
        <contentTypeMapping
            contentType="org.eclipse.jdt.core.javaSource"
            id="software.aws.toolkits.eclipse.amazonq.qlanguageserver"
            languageId="java">
        </contentTypeMapping>
        <contentTypeMapping
            contentType="org.eclipse.core.runtime.text"
            id="software.aws.toolkits.eclipse.amazonq.qlanguageserver">
        </contentTypeMapping>
        <contentTypeMapping
            contentType="org.eclipse.core.runtime.text"
            id="software.aws.toolkits.eclipse.amazonq.authServer">
        </contentTypeMapping>
        <contentTypeMapping
              contentType="org.eclipse.wst.jsdt.core.jsSource"
              id="software.aws.toolkits.eclipse.amazonq.qlanguageserver"
              languageId="javascript">
        </contentTypeMapping>
    </extension>
    <extension
        point="org.eclipse.core.filebuffers.documentSetup">
        <participant
            class="org.eclipse.lsp4e.ConnectDocumentToLanguageServerSetupParticipant"
            contentTypeId="org.eclipse.jdt.core.javaSource">
        </participant>
        <participant
            class="org.eclipse.lsp4e.ConnectDocumentToLanguageServerSetupParticipant"
            contentTypeId="org.eclipse.wst.jsdt.core.jsSource">
        </participant>
   </extension>

    <extension point="org.eclipse.ui.commands">
        <category
            id="software.aws.toolkits.eclipse.amazonq.commands.category"
            name="Amazon Q">
        </category>
        <command
            categoryId="software.aws.toolkits.eclipse.amazonq.commands.category"
            name="Trigger Suggestions"
            id="software.aws.toolkits.eclipse.amazonq.commands.triggerSuggestions">
        </command>
        <command
            categoryId="software.aws.toolkits.eclipse.amazonq.commands.category"
            name="Accept Suggestions"
            id="software.aws.toolkits.eclipse.amazonq.commands.acceptSuggestions">
        </command>
        <command
            categoryId="software.aws.toolkits.eclipse.amazonq.commands.category"
            name="Reject Suggestions"
            id="software.aws.toolkits.eclipse.amazonq.commands.rejectSuggestions">
        </command>
        <command
              categoryId="software.aws.toolkits.eclipse.amazonq.commands.category"
              id="software.aws.toolkits.eclipse.amazonq.commands.toggleSuggestionsForward"
              name="Toggle Suggestions Forward">
        </command>
        <command
              categoryId="software.aws.toolkits.eclipse.amazonq.commands.category"
              id="software.aws.toolkits.eclipse.amazonq.commands.toggleSuggestionsBackward"
              name="Toggle Suggestions Backward">
        </command>
        <command
              categoryId="software.aws.toolkits.eclipse.amazonq.commands.category"
              id="software.aws.toolkits.eclipse.amazonq.commands.explain"
              name="Explain">
        </command>
        <command
              categoryId="software.aws.toolkits.eclipse.amazonq.commands.category"
              id="software.aws.toolkits.eclipse.amazonq.commands.refactor"
              name="Refactor">
        </command>
        <command
              categoryId="software.aws.toolkits.eclipse.amazonq.commands.category"
              id="software.aws.toolkits.eclipse.amazonq.commands.fix"
              name="Fix">
        </command>
        <command
              categoryId="software.aws.toolkits.eclipse.amazonq.commands.category"
              id="software.aws.toolkits.eclipse.amazonq.commands.optimize"
              name="Optimize">
        </command>
        <command
              categoryId="software.aws.toolkits.eclipse.amazonq.commands.category"
              id="software.aws.toolkits.eclipse.amazonq.commands.sendToPrompt"
              name="Send To Prompt">
        </command>
        <command
            categoryId="software.aws.toolkits.eclipse.amazonq.commands.category"
            name="Open Amazon Q Chat View"
            id="software.aws.toolkits.eclipse.amazonq.commands.openAmazonQChatView">
        </command>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler
            class="software.aws.toolkits.eclipse.amazonq.handlers.QTriggerSuggestionsHandler"
            commandId="software.aws.toolkits.eclipse.amazonq.commands.triggerSuggestions">
        </handler>
        <handler
            class="software.aws.toolkits.eclipse.amazonq.handlers.QAcceptSuggestionsHandler"
            commandId="software.aws.toolkits.eclipse.amazonq.commands.acceptSuggestions">
        </handler>
        <handler
                class="software.aws.toolkits.eclipse.amazonq.handlers.QRejectSuggestionsHandler"
                commandId="software.aws.toolkits.eclipse.amazonq.commands.rejectSuggestions">
        </handler>
        <handler
              class="software.aws.toolkits.eclipse.amazonq.handlers.QToggleSuggestionsForwardHandler"
              commandId="software.aws.toolkits.eclipse.amazonq.commands.toggleSuggestionsForward">
        </handler>
        <handler
              class="software.aws.toolkits.eclipse.amazonq.handlers.QToggleSuggestionsBackwardHandler"
              commandId="software.aws.toolkits.eclipse.amazonq.commands.toggleSuggestionsBackward">
        </handler>
        <handler
              class="software.aws.toolkits.eclipse.amazonq.handlers.QExplainHandler"
              commandId="software.aws.toolkits.eclipse.amazonq.commands.explain">
        </handler>
        <handler
              class="software.aws.toolkits.eclipse.amazonq.handlers.QRefactorHandler"
              commandId="software.aws.toolkits.eclipse.amazonq.commands.refactor">
        </handler>
        <handler
              class="software.aws.toolkits.eclipse.amazonq.handlers.QFixHandler"
              commandId="software.aws.toolkits.eclipse.amazonq.commands.fix">
        </handler>
        <handler
              class="software.aws.toolkits.eclipse.amazonq.handlers.QOptimizeHandler"
              commandId="software.aws.toolkits.eclipse.amazonq.commands.optimize">
        </handler>
        <handler
              class="software.aws.toolkits.eclipse.amazonq.handlers.QSendToPromptHandler"
              commandId="software.aws.toolkits.eclipse.amazonq.commands.sendToPrompt">
        </handler>
        <handler
        	class="software.aws.toolkits.eclipse.amazonq.handlers.QOpenChatViewHandler"
        	commandId="software.aws.toolkits.eclipse.amazonq.commands.openAmazonQChatView">
        </handler>
    </extension>

    <extension point="org.eclipse.ui.bindings">
        <key
            commandId="software.aws.toolkits.eclipse.amazonq.commands.triggerSuggestions"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+C">
        </key>
        <key
            commandId="software.aws.toolkits.eclipse.amazonq.commands.acceptSuggestions"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="TAB">
        </key>
        <key
            commandId="software.aws.toolkits.eclipse.amazonq.commands.rejectSuggestions"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ESC">
        </key>
        <key
              commandId="software.aws.toolkits.eclipse.amazonq.commands.toggleSuggestionsBackward"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M3+[">
        </key>
        <key
              commandId="software.aws.toolkits.eclipse.amazonq.commands.toggleSuggestionsForward"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M3+]">
        </key>
    </extension>

    <extension point="org.eclipse.ui.startup">
        <startup
            class="software.aws.toolkits.eclipse.amazonq.lsp.LspStartupActivity">
        </startup>
    </extension>
    <extension point="org.eclipse.ui.preferencePages">
         <page
             class="software.aws.toolkits.eclipse.amazonq.preferences.AmazonQPreferencePage"
             id="software.aws.toolkits.eclipse.amazonq.preferences.AmazonQPreferencePage"
             name="Amazon Q">
         </page>
    </extension>
    <extension point="org.eclipse.core.runtime.preferences">
        <initializer
            class="software.aws.toolkits.eclipse.amazonq.preferences.AmazonQPreferenceInitializer">
        </initializer>
   </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?endof">
            <toolbar id="software.aws.toolkits.eclipse.amazonq.toolbar">
                <command id="software.aws.toolkits.eclipse.amazonq.toolbar.command"
                    commandId="software.aws.toolkits.eclipse.amazonq.commands.openAmazonQChatView"
                    icon="icons/AmazonQ.png"
                    tooltip="Amazon Q">
                </command>
           </toolbar>
       </menuContribution>
       <menuContribution locationURI="menu:showView?before=viewsShortlist">
            <command
                commandId="software.aws.toolkits.eclipse.amazonq.commands.openAmazonQChatView"
                icon="icons/AmazonQ.png"
                label="Amazon Q"
                style="push">
            </command>
        </menuContribution>
        <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <menu 
                icon="icons/AmazonQ.png"
                label="Amazon Q">
                <visibleWhen checkEnabled="false">
                    <and>
                        <with variable="activePartId">
                            <or>
                                <equals value="org.eclipse.ui.DefaultTextEditor"/>
                                <equals value="org.eclipse.jdt.ui.CompilationUnitEditor"/>
                                <equals value="org.eclipse.ui.genericeditor.GenericEditor"/>
                            </or>
                        </with>
                    </and>
                </visibleWhen>
                <command
                    commandId="software.aws.toolkits.eclipse.amazonq.commands.explain"
                    label="Explain">
                </command>
                <command
                    commandId="software.aws.toolkits.eclipse.amazonq.commands.refactor"
                    label="Refactor">
                </command>
                <command
                    commandId="software.aws.toolkits.eclipse.amazonq.commands.fix"
                    label="Fix">
                </command>
                <command
                    commandId="software.aws.toolkits.eclipse.amazonq.commands.optimize"
                    label="Optimize">
                </command>
                <command
                    commandId="software.aws.toolkits.eclipse.amazonq.commands.sendToPrompt"
                    label="Send To Prompt">
                </command>
            </menu>
        </menuContribution>
        <menuContribution
              allPopups="false"
              locationURI="toolbar:org.eclipse.ui.trim.status">
              <toolbar id="software.aws.toolkits.eclipse.amazonq.statusbar">
                <control
                class="software.aws.toolkits.eclipse.amazonq.views.actions.InlineQueryStatusBarContribution"
                id="software.aws.toolkits.eclipse.amazonq.views.actions.InlineQueryStatusBarContribution"
                >
                </control>
           </toolbar>
        </menuContribution>
    </extension>
</plugin>
